@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
